<div class="container clientes">
    <div class="row">
        <div class="col-12">
            <h1>Registro de Clientes</h1>
            <form [formGroup]="form" (ngSubmit)="guardarCliente()">
                <div class="form-group">
                   <div class="input-content col-12">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
                    <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
                   </div>
                </div>
                <div class="form-group">
                    <button   class="btn btn-success" [disabled]="form.invalid" type="submit">Guardar Cambios</button>
                    
                </div>

            </form>

        </div>
        
    </div>
</div>
